<div class="post">
    <a href="{{ post.url }}" style="color: #4a4a4a;">
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <h3 class="post-title">{{ post.title }}</h3>    
                    <small class="post-date is-italic is-size-10 has-text-grey">
                        Published:  {{ post.header.date|date("d.m.Y") }}
                    </small>

                    {% if post.header.intro %}
                        {{ post.header.intro|markdown }}
                    {% else %}
                        {{ post.summary(120) }}
                    {% endif %}
                </div>
            </div>
        </article>
    </a>
</div>

<hr>