{% extends 'default.html.twig' %}

{% block innercontent %}

	{% if page.header.intro %}
		<div class="is-size-5">
			{{ page.header.intro|markdown }}
		</div>
	{% endif %}

	{% if page.header.featured_image %}
		<figure class="image " style="margin-left: 0; margin-right: 0;">
			{{ page.media[page.header.featured_image].html('',page.title|escape)}}
		</figure>
	{% endif %}

	<hr>

	{{ page.content }}

	{% if page.header.taxonomy.tag %}
		<div class="tags">
			{% for tag in page.header.taxonomy.tag %}
				<span class="tag">
					{{ tag }}
				</span>
			{% endfor %}
		</div>
	{% endif %}

	<small class="is-italic is-size-10 has-text-grey">
		Veröffentlicht am
		{{ page.header.publish_date|date("d.m.Y") }}
	</small>

{% endblock %}
