{% extends 'partials/base.html.twig' %}

{% block content %}

    <section class="hero is-medium is-primary is-bold">

        <section class="section" style="display:none;">

            <div class="container">
                <div class="columns">
                    <div class="column is-4-desktop">
                        {% if page.header.featured_image_one %}
                            <figure class="image " style="margin-left: 0; margin-right: 0;">
                                {{ page.media[page.header.featured_image_one].html('',page.title|escape)}}
                            </figure>
                        {% endif %}
                    </div>
                        <div class="column is-4-desktop">
                            {% if page.header.featured_image_two %}
                            <figure class="image " style="margin-left: 0; margin-right: 0;">
                                {{ page.media[page.header.featured_image_two].html('',page.title|escape)}}
                            </figure>
                        {% endif %}
                    </div>
                        <div class="column is-4-desktop">
                            {% if page.header.featured_image_three %}
                            <figure class="image " style="margin-left: 0; margin-right: 0;">
                                {{ page.media[page.header.featured_image_three].html('',page.title|escape)}}
                            </figure>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </section>

    <section class="section">

        <div class="container">

            <div class="columns">
                <div class="column  is-8-desktop main-content content">
                    <div class="introduction">
                        {{ page.content }}  
                        <figure class="image " style="margin-left: 0; margin-right: 0;">
                            {{ page.media[page.header.featured_image_one].html('',page.title|escape)}}
                        </figure>
                    </div>

                    <div class="news">
                    <h2>News</h2>

                    {% for post in page.find('/news').children.order('publish_date', 'desc').slice(0, 3) %}
                        {% include 'partials/post.html.twig' %}
                    {% endfor %}
                    </div>
                
                </div>

                <div class="column is-offset-1 is-3-desktop sidebar content">
                    <div class="sidebar-content">
                        <h2>{{ page.header.custom.datestitle }}</h2>

                        <div class="datescontent">
                            {{ page.header.custom.datescontent|markdown }}
                        </div>
                    </div>

                    <div class="sidebar-content">
                        <h2>Join Us</h2>

                        <div class="datescontent">
                            <p>Become a part of our team.</p>
                        </div>
                    </div>

                    <div class="sidebar-content">
                        <h2>Newsletter</h2>

                        <div class="datescontent">
                            <p><input type="text" placeholder="email"></input></p>
                        </div>
                    </div>
                </div>



            </div>
        </div>

    </section>

{% endblock %}
