{% extends 'partials/base.html.twig' %}

{% block content %}

	<section class="hero is-medium is-primary is-bold"></section>

	<section class="section title-section">

		<div class="container">
			<h1 class="main-title">{{ page.header.custom.title }}<span class="subtext">{{ page.header.custom.subtext }}</span>
			</h1>
		</div>
	</section>

	<section class="section">

		<div class="container">

			<div class="columns">
				<div class="column  is-8-desktop main-content content">

					<div class="introduction">
						{{ page.content }}
					</div>

					<div class="news">
						<h2>Latest News</h2>

						{% for post in page.find('/news').children.order('publish_date', 'desc').slice(0, 3) %}
							{% include 'partials/post.html.twig' %}
						{% endfor %}
					</div>

				</div>

				<div class="column is-offset-1 is-3-desktop sidebar content">
					<div class="sidebar-content">
						<h2>{{ page.header.custom.datestitle }}</h2>

						<div class="datescontent">
							{% for event in page.find('/events').children.order('event_date', 'desc') %}
								{% include 'partials/event.html.twig' %}
							{% endfor %}
						</div>
					</div>

					<div class="sidebar-content">
						<h2>{{ page.header.custom.boxone_title }}</h2>

						<p>{{ page.header.custom.boxone_content|markdown }}</p>
					</div>

					<div class="sidebar-content">
						<h2>{{ page.header.custom.boxtwo_title }}</h2>

						<p>{{ page.header.custom.boxtwo_content|markdown }}</p>
					</p>
				</div>
			</div>
		</div>
	</div>
</div></section>{% endblock %}
